<div class="page-container">
    <div class="header-title">
        <h1>SlaynRookers</h1>
    </div>

    <mat-tab-group>
        <mat-tab label="News">
            <div class="news-container">
              <div class="news-item">
                    <p class="news-date">17-09-2024</p>
                    <p class="news-content">At the moment we are not as active as we would like, but this project is open source, if you want to contribute, the repository links are in the FAQ tab</p>
                </div>
                <div class="news-item">
                    <p class="news-date">29-08-2024</p>
                    <p class="news-content">It is part of our roadmap to add: Articles (for validated writers), Screenshot of the week, poll, short news, ask a question and much more.</p>
                </div>
                <div class="news-item">
                    <p class="news-date">23-05-2024</p>
                    <p class="news-content">Welcome to SlaynRookers, the premier channel for Rookgaard residents in Slaynville who want to stay up to date and be part of a community.</p>
                </div>
            </div>
            <div class="residents-counter">
              <p>Rookgaard Residents</p>
              <p>{{ highscores.length }}</p>
            </div>
        </mat-tab>

        <mat-tab label="Highscores">
            <div class="highscores-container"
              <p>As we are using a free deployment service, you may need to wait 1 to 2 minutes for it to load if this is your first access.</p>
                <table>
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Name</th>
                            <th>Level</th>
                            <th>Experience</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let character of highscores; let i = index">
                            <td>{{ i + 1 }}.</td>
                            <td>{{ character.name }}</td>
                            <td>{{ character.level }}</td>
                            <td>{{ character.points }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-tab>

        <mat-tab label="FAQs">
            <div class="faq-container">
                <h2>1. What is SlaynRookers?</h2>
                <p>Is an open source project (you can also contribute) with the aim of creating a community for the residents of Rookgaard in Slaynville.</p>
                <h2>2. Why contribute?</h2>
                <p>We believe that a portal to integrate all rookgaard residents would be of great value. We see several possibilities for an open place to share adventures, make exchanges, stay up to date with news and much more.</p>
                <h2>3. How can I contribute?</h2>
                <p>At the moment all types of contributions are welcome.</p>
                <h2>4. Where can I contribute?</h2>
                <p>Front End repository: https://github.com/thiagomedeiros11/front-slaynrookers<br>
                Back End repository: https://github.com/thiagomedeiros11/back-slaynrookers</p>
            </div>
        </mat-tab>
    </mat-tab-group>



    <mat-toolbar color="primary">
        <p>©2024 SlaynRookers</p>
    </mat-toolbar>
</div>

